{% extends 'cs382leave/base.html'%}
{% block content %}
<!-- <div class="col-md-9 offset-md-2"> -->
<!-- <form method = "POST">
  <div class="form-group">
    <label for="exampleInputEmail1"></label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Professor" name="prof">
  </div>
  <div class="form-group">
    <textarea class="form-control" id="exampleFormControlTextarea1" type ="text" placeholder="Compose Your Application" rows="3" name='application'></textarea>
  </div>
  <form>
  <div class="form-group">
    <small>In case of medical Leave upload required report</small>
    <input type="file" class="form-control-file" id="exampleFormControlFile1" name="file">
  </div>
</form>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div> -->
{% endblock %}
